* {
    box-sizing: border-box;
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
}

html {
    background-color: $background-color;
    overflow-y: scroll;
}

html,
body {
    height: 100%;
}

body {
    // display: flex;
    // flex-direction: column;
    background-color: $background-color-body;
}

h1 {
    color: $font-color;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: $background-color-body;
    border-left: 2px solid $border;
    border-right: 2px solid $border;
    //color: #2b2e30;
    padding: 0 2em;
    display: flex;
}

.site-header a,
.site-header a:visited {
    color: $font-color;
    text-decoration: none;
}

.logo {
    float: left;
    padding: 1em;

    img {
        width: 60%;
        height: auto;
    }
}
/* Main */

.home {
    display: grid;
    gap: 2em 2em;
}

.home h1 {
    grid-column: span 3;
    justify-self: center;
}

.me {
    width: 100%;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1em;

    img {
        max-width: 100%;
        height: auto;
    }
}

.main {
    flex: 1 0 auto;
    padding: 2em;
    background-color: $background-color-body;
    border-left: 2px solid $border;
    border-right: 2px solid $border;
    min-height: 600px;
    color: $font-color-main;
}

.container {
    min-height: 600px;

    li {
        margin: 1em;
    }

    a {
        text-decoration: none;
        color: $font-color;
    }

    a:hover {
        text-decoration: underline;
        color: $hover;
    }

    img {
        filter: $filter;
    }
}

.flash-region {
    border-left: 2px solid $border;
    border-right: 2px solid $border;


    img {
        width: 100%;
        height: auto;
        padding: 2em;
        filter: $filter;
    }
}

/* Footer */


.site-footer {
    flex: 0 0 auto;
    background: $background-color-body;
    border-top: 5px solid $border-alternative;
    border-left: 2px solid $border;
    border-right: 2px solid $border;
    color: $font-color;
    padding: 2em;

    a {
        color: $font-color;
    }

    a:hover {
        color: $hover;
    }
}

.site-footer .social {
    float: right;
    font-size: 2rem;
}

@media (max-width: 767px) {
    .home h1,
    .me {
        grid-column: span 1;
    }
}
