$font-color: #3e7d15;
$font-color-main: #181818;
$font-color-box: #3e7d15;
$hover: #e7f7df;
$background-color: #e7f7df;
$background-color-body: #fff;
$border: #fff;
$border-alternative: #e7f7df;
$filter: none;
//#ebfaeb
