$font-color: #84a470;
$font-color-main: #eee;
$font-color-box: #121212;
$hover: #eee;
$background-color: #121212; //#282828
$background-color-body: #121212;
$border: #84a470;
$border-alternative: #84a470;
$filter: grayscale(50%);
//#a3f7bf
