* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html {
    background-color: #ebfaeb;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    background-color: #fff;
}

h1 {
    color: #70db70;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #fff;
    color: #2b2e30;
    padding: 0 2em;
    display: flex;
}

.site-header a, .site-header a:visited {
    color: #2b2e30;
    text-decoration: none;
}

.logo {
    float: left;
    padding: 1em;
}

.logo img {
    width: 60%;
    height: auto;
}
/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
    background-color: #fff;
}

.container {
    min-height: 600px;
}

.container li {
    margin: 1em;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: #70db70;
}

.flash-region img {
    width: 100%;
    height: auto;
    padding: 2em;
}

/* Footer */


.site-footer {
    flex: 0 0 auto;
    background: #fff;
    border-top: 5px solid #ebfaeb;
    color: #70db70;
    padding: 2em;
}

.site-footer a {
    color: #70db70;
}

.site-footer .social {
    float: right;
    font-size: 2rem;
}
